title {
    color: crimson
}
body {
  background-color: lightblue;
}
nav {
  background-color: lightgreen;
  color: darkgreen;
}
h1 {
    color: crimson
}
h2 {
    color: crimson
}
body{
    color: darkblue
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }